@import 'tailwindcss';

@theme {
  /* coolors */
  --color-dark-primary: #020917;
  --color-dark-secondary: #101725;
  --color-desc: #7b879a;
 

  /* fonts */
  --font-primary: 'Poppins', sans-serif;



  --animate-wiggle: wiggle 3s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: translateY(-15px) skewY(6deg);
      
    }
    50% {
      transform: translateY(3px) skewY(6deg);
    }
  }

}

html {
  scroll-behavior: smooth;
}

button {
  font-family: var(--font-primary);
  cursor: none
}


section {
  max-width: 1280px;
}
